@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--swiper-navigation-color: #fce9b9;
	scroll-padding-top: 4em;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Helvetica, Arial, sans-serif;
}

body:has(.splash) {
	overflow-y: hidden;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #10182873;
}

::-webkit-scrollbar-thumb:hover {
	background: #101828b6;
}
