@import "tailwindcss";

:root {
	--swiper-navigation-color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
	@apply bg-gray-900/70 p-3 flex items-center justify-center rounded-lg w-fit h-15/100;
}

.scriptures::-webkit-scrollbar-track {
	background: #4e5963;
}

.scriptures::-webkit-scrollbar-thumb {
	background: #101828b9;
}

.scriptures::-webkit-scrollbar-thumb:hover {
	background: #101828;
}

/* Animations */
/* 
.hero-message,
.hero-icon {
	animation-range: contain;
}

.daily-saints,
.scripture-readings {
	opacity: 0;
	animation: contentintro linear forwards;
	animation-direction: normal;
	animation-timeline: view();
	animation-range: 20% 40%;
	animation-iteration-count: 1;
}

@keyframes contentintro {
	from {
		opacity: 0;
		translate: 0 10px;
	}
	to {
		opacity: 1;
		translate: 0 0;
	}
} */
